@font-face {
  font-family: 'Pictos';
  src: url('/fonts/pictos-web.eot');
  src: local('☺'), url('fonts/pictos-web.ttf') format('truetype'), url('fonts/pictos-web.woff') format('woff'), url('fonts/pictos-web.svg#webfontphKv1xv9') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background:#E7EBEF;
  font:62.5%/1.5 "Helvetica Neue", Helvetica, sans-serif;
  margin:0;
}

h2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#111111));
  background: -webkit-linear-gradient(top, #333333 0%,#111111 100%);
  background: linear-gradient(top, #333333 0%,#111111 100%);
  border:1px solid #000;
  border-radius:3px;
  color:#FFF;
  margin:0;
  padding:8px 0;
  text-align:center;
  text-shadow:-1px -1px 0 #000;
}

ul {
  border-radius:3px;
  list-style:none;
  margin:0;
  padding:0;
}

ul li {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dce2ea), color-stop(50%,#d4dae4), color-stop(51%,#ced4de), color-stop(100%,#cdd4dd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dce2ea 0%,#d4dae4 50%,#ced4de 51%,#cdd4dd 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(top, #dce2ea 0%,#d4dae4 50%,#ced4de 51%,#cdd4dd 100%); /* W3C */
  border-bottom:1px solid rgba(0,0,0,0.4);
  font-size:14px;
  font-weight:bold;
  position:relative;
}

ul li div.progress {
  background: -moz-linear-gradient(top, #c3c9d2 0%, #a9aeb9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3c9d2), color-stop(100%,#a9aeb9));
  background: -webkit-linear-gradient(top, #c3c9d2 0%,#a9aeb9 100%);
  background: linear-gradient(top, #c3c9d2 0%,#a9aeb9 100%);
  -webkit-box-shadow:0 1px 0 rgba(255,255,255,0.2) inset;
  height:100%;
  left:0;
  position:absolute;
  top:0;
}

ul li.completed div.progress {
  background: -moz-linear-gradient(top, #6da867 0%, #82c961 1%, #7bc35a 50%, #6fb64e 51%, #78b059 99%, #65955f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6da867), color-stop(1%,#82c961), color-stop(50%,#7bc35a), color-stop(51%,#6fb64e), color-stop(99%,#78b059), color-stop(100%,#65955f));
  background: -webkit-linear-gradient(top, #6da867 0%,#82c961 1%,#7bc35a 50%,#6fb64e 51%,#78b059 99%,#65955f 100%);
  background: linear-gradient(top, #6da867 0%,#82c961 1%,#7bc35a 50%,#6fb64e 51%,#78b059 99%,#65955f 100%);
}

ul li:first-child {
  border-radius:3px 3px 0 0;
}

ul li:last-child {
  border-radius:0 0 3px 3px;
}

ul li.completed .text {
  color:#FFF;
  text-shadow:-1px -1px rgba(0,0,0,0.2);
}

ul li:last-child div.progress {
/*  border-bottom:0;*/
}

ul li .text {
  color:#373D42;
  display:block;
  padding:12px 20px 12px 5px;
  position:relative;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration:none;
  text-shadow:0 1px 0 rgba(255,255,255,0.5);
  white-space: nowrap;
  width:250px;
}

ul li .text span {
  color:rgba(255,255,255,0.7);
  font-size:24px;
  font-family: Pictos;
  line-height:0;
  -webkit-font-smoothing:antialiased;
  position:absolute;
  right:0;
  text-transform:capitalize;
  top:13px;
}